body {
	color: #747474;
	font-family: sans-serif; 
}

div.album {
	background-color: #F1F7F8;
	padding: 15px;
	margin: 20px;
	border: 1px solid #E3F0F2;
}

a {
	color: #006D92;
	text-decoration: none;
}

h1, h2 {
	color: #424242;
	text-align: center;
	clear: left;
}

#genres ul {
	float: left;
	width: 50em;
	margin: 0;
	padding: 0;
	list-style: 0;
}

#genres li {
	float: left;
	width: 25em;
	margin: 0;
	padding: 0;
}
