body {
	color: #747474;
	font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
}

#genres a.tag0 { font-size: 0.7em; }
#genres a.tag1 { font-size: 0.8em; }
#genres a.tag2 { font-size: 0.9em; }
#genres a.tag3 { font-size: 1.0em; }
#genres a.tag4 { font-size: 1.2em; }
#genres a.tag5 { font-size: 1.4em; }
#genres a.tag6 { font-size: 1.6em; }
#genres a.tag7 { font-size: 1.8em; }
#genres a.tag8 { font-size: 2.2em; }
#genres a.tag9 { font-size: 2.5em; }
#genres { padding: 2px; line-height: 2.5em; text-align: center; }
#genres a { padding: 0px; }
#genres { margin: 0; }
#genres li { display: inline; font-weight: bold; margin: 5px; }

div.album {
	background-color: #F1F7F8;
	padding: 15px;
	margin: 20px;
	border: 1px solid #E3F0F2;
}

div.album hr {
	display: block;
	clear: left;
	margin: -0.66em 0;
	visibility: hidden;
}

div.album img {
	border 1px solid #E3F0F2;
	margin-right: 20px;
	float: left;
}

p.releasedate {
	display: none;
}

p.scrobbles {
	display: none;
}

p.listeners {
	display: none;
}

p.times_listened {
	display: none;
}

a {
	color: #006D92;
	text-decoration: none;
}

h1, h2 {
	color: #424242;
	text-align: center;
	clear: left;
}

/*#genres ul {
	float: left;
	width: 50em;
	margin: 0;
	padding: 0;
	list-style: 0;
}

#genres li {
	float: left;
	width: 25em;
	margin: 0;
	padding: 0;
}*
